/*   MAIN    */  
*, *::after, *::before
    box-sizing: border-box

body
    font-family: 'Bebas Neue', sans-serif
    background-color: #0A0B0D
    color: #fff
    margin: 0

ul, li
    display: block
    margin: 0 
    padding: 0

h1, h2, h3, h4, p
    margin: 0
    font-family: 'Bebas Neue'

img
    max-width: 100%

* a
    text-decoration: none !important
    color: #fff

.title
    text-align: center
    font-size: 36px
    line-height: 36px
#toTop
    display: none
    width: 45px
    height: 45px
    background-color: #000
    position: fixed
    bottom: 15%
    right: 3%
    border: 3px solid #ffffff
    border-radius: 50%
    cursor: pointer
    &::before
        content: ''
        display: block
        width: 25px
        height: 25px
        background: url('../img/icons/arrow.svg') no-repeat
        background-size: contain
        position: absolute
        top: 40%
        left: 50%
        transform: translate(-50%, -40%)


/*   HEADER    */   
.header
    background: radial-gradient(540.00px at 50% 50%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%), url('../img/bg/header-background.jpg') no-repeat center center
    background-size: cover
    min-height: 667px

    &__logo
        margin: 0 auto
        margin-top: 215px
        max-width: 270px
        height: 178px
        z-index: 90
    &__title
        margin-top: 130px
        text-align: center
        font-size: 36px
        line-height: 36px
        color: #B91F2F
        z-index: 90
    &__desc
        margin-top: 20px
        text-align: center
        font-size: 24px
        line-height: 24px
        color: #4B4B4B
        z-index: 100
        span
            display: block
    &__hamburger-toggle
        display: flex
        justify-content: center
        align-items: center
        position: fixed
        top: 25px
        right: 20px
        width: 30px
        height: 30px
        cursor: pointer
        span
            display: block
            width: 22px
            height: 3px
            background-color: #B91F2F
            &::after, &::before
                content: ''
                display: block
                width: 22px
                height: 3px
                background-color: #B91F2F
                position: absolute
                transition: transform 0.2s
            &::before
                transform: translateY(-7px)
            &::after
                transform: translateY(7px)


    &__nav
        position: relative
        overflow: hidden
        &--active
            overflow: visible
    &__menu-list
        display: none
    
    &__menu-slide
        padding: 42px 0
        width: 280px
        height: 100vh
        overflow-y: auto    
        background-color: #1C1C1C
        position: fixed
        top: 0
        right: 0
        transition: transform 0.4s
        transform: translateX(100%)
        &--active
            transition: transform 0.4s
            transform: translateX(0)
            opacity: 1
            z-index: 90


    &__sticky-bar
        display: none

// Mobile menu
.menu-slide
    
    &__logo
        text-align: center
    &__btn-close
        display: flex
        justify-content: center
        align-items: center
        width: 30px
        height: 30px
        position: absolute
        top: 15px
        right: 15px
        cursor: pointer
        &::before, &::after
            content: ''
            display: block
            background-color: #B91F2F
            width: 18px
            height: 3px
            position: absolute

        &::before
                    transform: rotate(45deg)
        &::after
            transform: rotate(-45deg) 

    &__list
        margin-top: 70px
        text-align: center
        li
            font-size: 24px
            line-height: 24px
            &:not(:first-child)
                margin-top: 15px
            a
                transition: color 0.2s
                &:hover, &:active, &:focus
                    color: #B91F2F

    &__phone
        &-number
            display: block
            text-align: center
            color: #B91F2F 
            font-size: 24px
            line-height: 24px
            transition: color 0.2s
            &:hover
                color: #fff
        &-desc
            margin-top: 70px
            display: block
            text-align: center
            font-family: Roboto
            font-size: 14px
            line-height: 16px
            color: #4B4B4B
        
    &__social
        margin-top: 110px
        margin-left: 35px
        margin-right: 50px
        max-width: 110px
        display: flex
        justify-content: space-between
        align-items: center
        
        li
            flex-shrink: 0
            &:not(:nth-child(3))
                margin-right: 20px
            &:last-child
                margin-left: 50px
                margin-right: 0


/*   ABOUT    */   
.about
    p
        margin: 0 auto
        max-width: 785px
        margin-top: 15px
        font-family: Roboto
        font-size: 18px
        line-height: 21px
    &__title
        display: block
        margin-top: 90px
    &-wrap
        margin-top: 25px
        display: flex
        flex-direction: column
    &__photo
        text-align: center

        &:not(:first-child)
            margin-top: 15px

/*   REGISTRATION    */   
.registration
    &__title
        margin-top: 150px
        margin-bottom: 25px
    p
        margin: 0 auto
        max-width: 785px
        font-family: Roboto
        font-size: 18px
        line-height: 21px   
        span     
            display: block
        &:not(:first-child)
            margin-top: 15px


/*   REGISTRATION FORM    */   
.form
    margin: 0 auto
    margin-top: 40px
    padding-top: 30px
    padding-bottom: 20px
    padding-left: 35px
    padding-right: 35px
    max-width: 787px
    background-color: #252525
    &__title
        margin-bottom: 10px
        display: block
        text-align: center
        font-size: 24px
        line-height: 24px
        color: #4B4B4B
        &:not(:first-child)
            margin-top: 30px
        &-warning
            margin-bottom: 12px
            display: block
            font-family: Roboto
            font-size: 14px
            line-height: 16px
            color: #B91F2F
    &__input
        padding-left: 7px
        margin-bottom: 10px
        border: 0
        outline: none
        display: block
        width: 100%
        font-size: 20px
        line-height: 20px
        background-color: transparent
        border: 1px solid #4B4B4B
        &-desc
            margin-bottom: 3px
            display: block
            font-family: Roboto
            font-size: 14px
            line-height: 16px

    &__label
        margin-top: 30px
        display: flex
        align-items: center
        justify-content: center
        span
            margin-left: 23px
            display: block
            max-width: 228px
            font-family: Roboto
            font-size: 14px
            line-height: 16px
            cursor: pointer

    &__checkbox
        display: none
    &__checkbox-fake
        width: 18px
        height: 18px
        background-color: #DADADA
        position: relative
        cursor: pointer
        &::before
            content: ''
            display: block
            width: 14px
            height: 15px
            background: url('../img/icons/check-symbol.svg') no-repeat
            background-size: contain
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            opacity: 0
            transition: opacity 0.2s
    &__checkbox[type="checkbox"]:checked + .form__checkbox-fake
        &::before 
            opacity: 1

    &__participation
        &-title
            text-align: center
            margin-top: 45px
            font-family: Roboto
            font-size: 14px
            line-height: 16px
        &-value
            margin-top: 5px
            display: block
            text-align: center
            font-size: 36px
            line-height: 36px

    &__btn
        margin: 0 auto
        margin-top: 13px
        border: 0
        outline: none
        display: block
        max-width: 100%
        width: 246px
        height: 60px
        background-color: #B91F2F
        text-align: center
        font-size: 24px
        line-height: 24px
        transition: background-color 0.3s
        &:hover
            background-color: #a81928


/*   EVENT PROGRAM    */   
.event-program
    &__table
        margin: 0 auto

        &-row
            display: flex
            align-items: center
            padding-top: 18px
            padding-bottom: 12px
            &:not(:last-child)
                border-bottom: 1px solid #808080
            &:nth-child(1)
                .event-program__action
                    margin-left: 40px 
    &__title
        margin-top: 85px
        margin-bottom: 40px
    &__time
        font-size: 30px
        line-height: 30px
    &__action
        margin-left: 30px
        max-width: 245px
        font-family: Roboto
        font-size: 18px
        line-height: 21px
        

/*   EVENT PLACE    */   
.event-place
    &__title
        margin-top: 120px
        margin-bottom: 20px
    p
        margin: 0 auto
        max-width: 787px
        font-family: Roboto
        font-size: 18px
        line-height: 21px

    &__img
        text-align: center
        margin-top: 27px


/*   FOOTER    */   
.footer
    padding-bottom: 90px
    &__img
        display: block
        text-align: center
    &__title
        margin-top: 130px
        margin-bottom: 25px



/*   MEDIA QUARIES    */   
@media screen and(min-width: 600px)
    .cover-filter
        display: none
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0A0B0D 100%)
    .header
        &__logo
            margin-top: 170px
        &__hamburger-toggle
            display: none
        &__list-wrap
            height: 83px
            width: 100%
            position: fixed
            top: 0
            left: 0
            right: 0
            bottom: 0
            background-color: rgba(5, 5, 5, 0.8)
            z-index: 90
        &__menu-list
            margin: 0 auto
            max-width: 1200px
            height: 83px
            display: flex
            justify-content: space-around
            align-items: center

            li
                font-size: 20px
                line-height: 24px
                a
                    transition: color 0.2s
                    &:hover, &:active, &:focus
                        color: #B91F2F

        &__menu-slide
            display: none


        &__sticky-bar
            max-width: 100%
            width: 100%
            height: 103px
            display: flex
            justify-content: space-between
            align-items: center
            position: fixed
            left: 0
            bottom: 0
            background-color: rgba(5, 5, 5, 0.8)
            z-index: 90
            
    .sticky-bar
        &__social
            width: 110px
            display: flex
            justify-content: space-between
            align-items: center

        &__phone
            
            &-number
                display: block
                font-size: 36px
                line-height: 36px
                color: #B91F2F
                transition: color 0.2s
                &:hover, &:focus
                    color: #fff
                
            &-desc
                font-size: 14px
                line-height: 16px
                color: #4B4B4B

    .about
        &-wrap
            flex-direction: row
            flex-wrap: wrap
            justify-content: center
        &__photo
            margin-top: 0 !important

    .form
        &__label
            margin-left: 20px
            span
                max-width: 460px

    .event-program
        &__table
            width: 500px
        &__action
            max-width: 680px    


    .footer
        padding-bottom: 120px





@media screen and(min-width: 700px)

    .header
        &__menu-list
            li
                font-size: 24px

    .sticky-bar
        &__fund-logo
            margin-left: 35px
        &-phone
            margin-right: 35px
        &__social
            margin-left: -100px

@media screen and(min-width: 992px)

    .header
        &__logo
            margin-top: 150px
            max-width: 383px
            height: auto


        &__title
            margin-top: 70px
        &__desc
            margin-top: 30px

    .about
        &__title
            margin-top: 170px
        p
            margin-top: 25px

    .registration
        &__title
            margin-top: 104px
            margin-bottom: 30px
        p
            &:not(:first-child)
                margin-top: 20px

    .form
        padding-top: 42px
        padding-bottom: 25px
        padding-left: 47px
        padding-right: 47px
        &__title
            margin-bottom: 13px
            font-size: 24px
            line-height: 24px
            &:not(:first-child)
                margin-top: 45px
            &-warning
                max-width: 530px
        &-couple
            display: flex
            justify-content: space-between
            align-items: center
        &__input
            max-width: 470px
            height: 30px

            &-desc
                font-family: 'Bebas Neue'
                font-size: 24px
                line-height: 24px

    .event-program
        &__table
            width: 788px
            &-row
                &:nth-child(1)
                    .event-program__action
                        margin-left: 60px 
        &__action
            margin-left: 50px
            max-width: 680px    

    .event-place
        &__title
            margin-top: 140px

    .footer
        &__title
            margin-top: 150px


@media screen and(min-width: 1500px)
    .header
        &__logo
            margin-top: 200px
            max-width: 527px


        &__title
            margin-top: 130px
            font-size: 42px
            line-height: 42px

    .about
        &__title
            margin-top: 215px


@media screen and(min-width: 2500px)
    .header
        &__logo
            margin-top: 465px
            max-width: 593px 
        &__title
            margin-top: 210px
























