@font-face {
  font-family: 'Match';
  src: url('../fonts/MatchBold.eot');
  src: local('Match Bold'), local('MatchBold'),
      url('../fonts/MatchBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/MatchBold.woff') format('woff'),
      url('../fonts/MatchBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.d-none {display: none;}
.d-inline-block {display: inline-block;}
.push-block {
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.noselect * {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
  font-family: 'Match', Arial, sans-serif;
  background-color: #c3321d;
  background-image: url('../img/bg-main.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 16px;
  overflow-y: scroll;
}
h1 {}
h2 {font-size: 24px}
h3 {font-size: 20px}
h4 {font-size: 18px}
.btn {
  border-radius: 2px;
  border: none !important;
  font-family: 'Match', Arial, sans-serif !important;
}
a.btn-default {
  color: #6d0500 !important;
  text-decoration: none !important;
}
.btn-rounded {
  border-radius: 2em;
  padding-left: 20px;
  padding-right: 20px;
}
.btn-primary {background: #45aaff;}
.btn-primary:hover {background: #3ea0f2;}
a {color: #007bff;}
.text-bold {font-weight: bold;}
.color-red {color: #dc3545}
.color-yellow {color: #ffc107}
.color-green {color: #28a745}
.color-grey {color: #666}

.form-control:disabled,
.form-control {
  border-radius: 2px;
  border: none;
  border-radius: 0px;
  background: #6d0500;
  color: #fff;
  font-size: normal;
}
.form-control:disabled {
  opacity: 0.7;
}

.logo-link {
  width: 300px; 
  margin: 50px auto 20px;
  display: block;
  color: #fff;
}
.mini-logo {
  width: 150px;
  margin: 50px auto 20px auto;  
}
.logo-link:hover {
  text-decoration: none;
  color: #fff;
}

.logo-link .logo {}
.logo-link .heading {
  text-transform: uppercase;
  text-align: center;  
  margin: 40px 0;
}
.logo-link .heading h2 {
  margin: 0;
  font-size: 18px;
  letter-spacing: 1px;
}
.logo-link .heading h1 {
  margin: 10px 0 0 0;
  font-size: 42px;
  letter-spacing: 1px;
}

.form-subscribe {
  width: 300px;
  padding: 10px 15px 5px 15px;
  box-shadow: 0 0 0 2px #f18c00;
  border-radius: 1px;
  margin: 20px auto;
}
.form-subscribe label {
  color: #fff;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding-bottom: 5px;
}
.form-subscribe .btn {
  text-transform: uppercase;
  background: #f18c00;
  border-color: #f18c00;
  font-size: 16px;
}
.help-block {
  color: #fff !important;
}


/**
*   Form-Card
*/
.form-card {
  max-width: 420px;
  margin: 0 auto;
  background: #d82f16;
  color: #fff;
}
.form-card .form-card__header {
  background: #a71811;
  padding: 30px 20px 20px 20px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}

.form-card .form-card__header:before {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0; 
  height: 0;
  margin: 0 0 -20px -210px;
  border-left: 210px solid transparent;
  border-right: 210px solid transparent;
  border-top: 20px solid #a71811;
}
.form-card .form-card__header h2 {
  margin: 0 0 10px 0;
  font-size: 24px;
}
.form-card .form-card__body {
  padding: 20px;
}
.form-card .checkbox {
  padding: 10px 0;
}
.form-card .checkbox label {
  font-size: 13px;
  font-family: Tahoma, Verdana;
}

.form-card a {
  color: #fff;
  text-decoration: underline;
  font-size: 13px;
  font-family: Tahoma, Verdana;
}
.form-card p {
  font-size: 13px;
  font-family: Tahoma, Verdana;
}
.form-card .info-section {
  padding: 10px 20px;
  border-bottom: 1px solid #931711;
}


.form-card .form-card__footer {
  border-top: 1px solid #931711;
  padding: 15px 20px;
}
.form-card .form-card__footer .nav-bottom {
  text-align: center;
}
.form-card .form-card__footer .nav-bottom > ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.form-card .form-card__footer .nav-bottom > ul > li {display: inline-block;}
.form-card .form-card__footer .nav-bottom > ul > li > a {
  font-size: 16px;
  font-family: 'Match', Arial, sans-serif !important;
  display: block;
  padding: 2px 10px;
}
.form-card .form-card__footer .nav-bottom  ul > li > a {
  font-family: 'Match', Arial, sans-serif !important;
  text-decoration: none;
}


.page-card {
  background: #fff;
  width: 900px;
  margin: 0 auto;
}
.page-card .page-card__header {
  text-align: center;
  padding: 5px 30px 15px 30px;
  color: #6d0500;
}
.page-card .page-card__body {
  padding: 15px 30px;
  font-size: 13px;
  font-family: Tahoma, Verdana;
}
.page-card .page-card__footer {
  padding: 30px 20px;
  background: #ccc;
}
.section-quickpay {
  min-height: 260px;
}


.header {
  text-align: right;
  padding: 4px 10px;
  color: #fff;
}



/**
*   Radio box
*/
.radio-box {
  padding: 20px 10px;
  background: #760e09;
  margin-top: 10px;
  cursor: pointer;
  position: relative;
}
.radio-box.selected {}
.radio-box__button {
  width: 24px;
  height: 24px;
  border-radius: 2em;
  background: #fff;
  position: absolute;
  margin: -12px 0 0 0;
  top: 50%;
  left: 15px;  
}
.radio-box__button .radio-box__circle {
  display: none;
  width: 12px;
  height: 12px;
  margin: 6px;
  border-radius: 2em;
  background: #760e09;
}
.radio-box.selected .radio-box__button .radio-box__circle {display: block;}
.radio-box .radio-box__inner {margin: 0 0 0 60px; position: relative;}
.radio-box .radio-box__inner h3 {
  font-size: 16px;
  margin: 0 0 10px 0; 
}
.radio-box .radio-box__inner h4 {
  font-size: 16px;
  margin: 0; 
}

.radio-box .radio-box__inner p {
  font-size: 13px;
  font-family: Tahoma, Verdana;
}

.radio-box .radio-box__inner .amount {
  top: -5px;
  font-size: 20px;
  right: 5px;
  position: absolute;
}

.subtitle {
  padding: 20px 20px;
  margin: 0 0 20px 0;
  background: #9e2923;
  position: relative;
}
.subtitle h4 {
  font-size: 16px;
  margin: 0 50px 0 0;
}

.subtitle .amount {
  top: 20px;
  font-size: 20px;
  right: 10px;
  position: absolute;
}

.modal-content {border-radius: 2px;}
.modal-content  .modal-header {padding: 15px 30px;}
.modal-content  .modal-body {
  font-size: 14px;
  font-family: Tahoma, Verdana;
  padding: 15px 30px;
}


/**
*   Actions
*/
.action {
  text-align: center;
  padding: 30px 0;
  margin: 30px 0 10px 0;
}
.action .btn {padding: 10px 20px;}



.inform-widget {
  padding-top: 30px;
  padding-right: 10px;
  text-align: right;
}
.inform-widget span {
  display: inline-block;
  vertical-align: top;
  color: #6d0500;
}
.inform-widget .item-text {
  font-size: 18px;
  line-height: 22px;
}
.inform-widget .item-counter {
  font-size: 50px;
  line-height: 50px;
  padding: 0 15px;
  margin: -2px 0 0 0;
}


/**
*   Area map
*/
.areamap-wrapper {
  max-width: 1100px;
  margin: -50px auto 0 auto;
  position: relative;
}
.areamap-wrapper .areamap {
  display: block;
  width: 100%;
  position: relative;
  z-index: 90;
}
.point {
  display: inline-block;
  padding: 2px 6px;
  border-radius: 2px;
  position: absolute;
  z-index: 100;
  color: #fff;
  font-size: 22px;
}
.point::after {
  content: '';
  display: inline-block;
  width: 13px;
  height: 7px;
  margin: 0 0 0 -4px;
  position: absolute;
  top: 100%;
  left: 50%;
  background: url('../img/arrow-down.png');
  opacity: 0;
}
.point:hover {
  background-color: #fff;
  color: #931711;
  cursor: pointer;
  box-shadow: 0 2px 10px 0 #555;
}
.point:hover::after {
  opacity: 1;
}
.point.selected {
  background-color: #fff;
  color: #931711;
  cursor: pointer;
}
.point.selected::after {
  opacity: 1;
}
.point-khm {top: 64%; left: 29%;}
.point-nygan {top: 50%; left: 23%;}
.point-ygorsk {top: 60%; left: 14%;}
.point-urai {top: 75%; left: 22%;}
.point-mejdurechensk {top: 84%; left: 20%;}
.point-poikovski {top: 75%; left: 42%;}
.point-nefteugansk {top: 50%; left: 40%;}
.point-surgut {top: 60%; left: 50%;}
.point-megion {top: 70%; left: 60%;}
.point-nvartovsk {top: 60%; left: 67%;}

.point-visokii {top: 70%; left: 60%;}
.point-oktyabrskoe {top: 42%; left: 20%;}



/**
*   Footer
*/
.footer {
  background: #6d0500;
  margin: 20px 0 0 0;
  padding: 45px 10px;
}

.footer a {color: #fff;}
.footer .nav-bottom {}
.footer .nav-bottom > ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer .nav-bottom > ul > li {display: inline-block;}
.footer .nav-bottom > ul > li > a {
  display: block;
  padding: 2px 10px;
}
.stiky-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}


.tariff-list .tariff-item a,
.btn-ghost {
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.point, .point::after {
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}



.metrika * {
  font-family: Tahoma, sans-serif !important;
  font-size: 14px;
}