/*   MAIN    */


.wrapper {
  font-family: 'Bebas Neue', sans-serif;
  background-color: #0A0B0D;
  color: #fff;
  margin: 0;
}


hr {border-top: 1px solid #333;}

.text-center {text-align: center !important;}
.p-0 {padding: 0px !important}
.p-1 {padding: 5px !important}
.p-2 {padding: 10px !important}
.p-3 {padding: 15px !important}
.p-4 {padding: 20px !important}

.m-0 {margin: 0px !important}
.m-1 {margin: 5px !important}
.m-2 {margin: 10px !important}
.m-3 {margin: 15px !important}
.m-4 {margin: 20px !important}
.m-5 {margin: 25px !important}
.m-6 {margin: 30px !important}

.mt-0 {margin-top: 0px !important}
.mt-1 {margin-top: 5px !important}
.mt-2 {margin-top: 10px !important}
.mt-3 {margin-top: 15px !important}
.mt-4 {margin-top: 20px !important}
.mt-5 {margin-top: 25px !important}
.mt-6 {margin-top: 30px !important}

.mb-0 {margin-bottom: 0px !important}
.mb-1 {margin-bottom: 5px !important}
.mb-2 {margin-bottom: 10px !important}
.mb-3 {margin-bottom: 15px !important}
.mb-4 {margin-bottom: 20px !important}
.mb-5 {margin-bottom: 25px !important}
.mb-6 {margin-bottom: 30px !important}

.ml-0 {margin-left: 0px !important}
.ml-1 {margin-left: 5px !important}
.ml-2 {margin-left: 10px !important}
.ml-3 {margin-left: 15px !important}
.ml-4 {margin-left: 20px !important}
.ml-5 {margin-left: 25px !important}
.ml-6 {margin-left: 30px !important}

.mr-0 {margin-right: 0px !important}
.mr-1 {margin-right: 5px !important}
.mr-2 {margin-right: 10px !important}
.mr-3 {margin-right: 15px !important}
.mr-4 {margin-right: 20px !important}
.mr-5 {margin-right: 25px !important}
.mr-6 {margin-right: 30px !important}

.pt-0 {padding-top: 0px !important}
.pt-1 {padding-top: 5px !important}
.pt-2 {padding-top: 10px !important}
.pt-3 {padding-top: 15px !important}
.pt-4 {padding-top: 20px !important}

.pb-0 {padding-bottom: 0px !important}
.pb-1 {padding-bottom: 5px !important}
.pb-2 {padding-bottom: 10px !important}
.pb-3 {padding-bottom: 15px !important}
.pb-4 {padding-bottom: 20px !important}

.pl-0 {padding-left: 0px !important}
.pl-1 {padding-left: 5px !important}
.pl-2 {padding-left: 10px !important}
.pl-3 {padding-left: 15px !important}
.pl-4 {padding-left: 20px !important}

.pr-0 {padding-right: 0px !important}
.pr-1 {padding-right: 5px !important}
.pr-2 {padding-right: 10px !important}
.pr-3 {padding-right: 15px !important}
.pr-4 {padding-right: 20px !important}

ul, li {
  display: block;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p {
  margin: 0;
  font-family: 'Bebas Neue';
}

img {
  max-width: 100%;
}

* a {
  text-decoration: none;
  color: #fff;
}

.title {
  text-align: center;
  font-size: 36px;
  line-height: 36px;
}

/*   HEADER    */
.header {}

.header a {
  text-decoration: none;
}


.header__desc span {
  display: block;
}

.header__hamburger-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 25px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 89;
}

.header__hamburger-toggle span {
  display: block;
  width: 22px;
  height: 3px;
  background-color: #B91F2F;
}

.header__hamburger-toggle span::after, .header__hamburger-toggle span::before {
  content: '';
  display: block;
  width: 22px;
  height: 3px;
  background-color: #B91F2F;
  position: absolute;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.header__hamburger-toggle span::before {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.header__hamburger-toggle span::after {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.header__nav {
  position: relative;
  overflow: hidden;
}

.header__nav--active {
  overflow: visible;
}

.header__menu-list {
  display: none;
}

.header__menu-slide {
  padding: 42px 0;
  width: 280px;
  height: 100vh;
  overflow-y: auto;
  background-color: #1C1C1C;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.header__menu-slide--active {
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  z-index: 90;
}

.header__sticky-bar {
  display: none;
}

.menu-slide__logo {
  text-align: center;
}

.menu-slide__btn-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.menu-slide__btn-close::before, .menu-slide__btn-close::after {
  content: '';
  display: block;
  background-color: #B91F2F;
  width: 18px;
  height: 3px;
  position: absolute;
}

.menu-slide__btn-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-slide__btn-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-slide__list {
  margin-top: 70px;
  text-align: center;
}

.menu-slide__list li {
  font-size: 24px;
  line-height: 24px;
}

.menu-slide__list li:not(:first-child) {
  margin-top: 15px;
}

.menu-slide__list li a {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.menu-slide__list li a:hover, .menu-slide__list li a:active, .menu-slide__list li a:focus {
  color: #B91F2F;
}

.menu-slide__phone-number {
  display: block;
  text-align: center;
  color: #B91F2F;
  font-size: 24px;
  line-height: 24px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.menu-slide__phone-number:hover {
  color: #fff;
}

.menu-slide__phone-desc {
  margin-top:60px;
  display: block;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  color: #4B4B4B;
}

.menu-slide__social {
  position: absolute;
  bottom: 30px;
  z-index: 92;
  margin: 0 0 60px 35px;
  max-width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-slide__social li {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menu-slide__social li:not(:nth-child(3)) {
  margin-right: 20px;
}

.menu-slide__social li:last-child {
  margin-left: 50px;
  margin-right: 0;
}

.section {
  margin-top: 50px;
}
.section-title {
  font-size: 36px;
  text-align: center;
}
.section-fond {
  padding: 200px 0;
  text-align: center;
}
.section-fond .fond {  
  padding: 30px 0 40px 0;
  color: #B91F2F;
}
.section-fond .fond .amount {
  font-size: 60px;
}
.section-fond .fond .total {
  font-size: 32px;
}
.section-fond .details {
  text-align: center;
  color: #4B4B4B;
  font-size: 24px;
}
.section-fond .details p {
  line-height: 24px
}
.section-fond .details .team-count {
  display: inline-block;
  padding: 0 0 0 10px;
}


.section-promo {
  background: radial-gradient(540px at 50% 50%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%), url("../img/bg/header-background.jpg") no-repeat center center;
  background-size: cover;
  min-height: 667px;
}
.section-promo .header__logo {
  display: block;
  margin: 0 auto;
  padding-top: 215px;
  max-width: 270px;
  /* height: 178px; */
  z-index: 90;
}
.section-promo .header__title {
  padding-top: 130px;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  color: #B91F2F;
  z-index: 90;
}
.section-promo .header__desc {
  padding-top: 20px;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  color: #4B4B4B;
  z-index: 100;
}



/*   ABOUT    */
.about {
  padding-bottom: 100px;
}
.about p {
  margin: 0 auto;
  max-width: 785px;
  margin-top: 15px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 21px;
}

.about__title {
  display: block;
  margin-top: 0 !important;
}

.about-wrap {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__photo {
  text-align: center;
}

.about__photo:not(:first-child) {
  margin-top: 15px;
}

/*   REGISTRATION    */
.registration__title {
  margin-top: 50px;
  margin-bottom: 25px;
}

.signin__title {
  margin-top: 50px;
}

.signin-section form {
  max-width: 500px;
}

.registration p {
  margin: 0 auto;
  max-width: 785px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 21px;
}

.registration p span {
  display: block;
}

.registration p:not(:first-child) {
  margin-top: 15px;
}

/*   REGISTRATION FORM    */
.form {
  margin: 0 auto;
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 35px;
  padding-right: 35px;
  max-width: 787px;
  background-color: #252525;
}

.form a {
  text-decoration: underline;
}
.form a:hover,
.form a:active {
  color: #fff;
}

.form__title {
  margin-bottom: 10px;
  display: block;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  color: #4B4B4B;
}

.form__title:not(:first-child) {
  margin-top: 30px;
}

.form__title-warning {
  margin-bottom: 12px;
  display: block;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  color: #e53935;
}




.form__input {
  padding-left: 7px;
  margin-bottom: 10px;
  border: 0;
  outline: none;
  display: block;
  width: 100%;
  font-size: 20px;
  line-height: 20px;
  background-color: transparent;
  border: 1px solid #4B4B4B;
}

.form__input-desc {
  text-align: left;
  margin-bottom: 3px;
  display: block;
  padding-top: 10px;
  font-weight: bold;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
}

.font-roboto {font-family: Roboto !important;}

.form__label {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__label span {
  margin-left: 23px;
  display: block;
  max-width: 228px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}


/**
 * Validation
 */
.validate-block {position: relative;}
.error-display {
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  position: absolute;
  display: inline-block;
  top: -1px;
  right: -7px;
  width: 16px;
  /* height: 100%; */
  line-height: 16px;
  font-size: 12px;
  text-align: center;
  /* border-radius: 2px; */
  background: #e53935;
  cursor: pointer;
}
.has-error .form__input,
.has-error.form__label {
  border: 1px solid #e53935;
  box-shadow: 0 0 10px 0 #e53935;
}



.unique-code * {
  font-family: Roboto;
}
.unique-code {
  text-align: center;
  padding: 30px 0 15px 0;
}

.form__checkbox {
  display: none;
}

.form__checkbox-fake {
  width: 18px;
  height: 18px;
  background-color: #DADADA;
  position: relative;
  cursor: pointer;
}

.form__checkbox-fake::before {
  content: '';
  display: block;
  width: 14px;
  height: 15px;
  background: url("../img/icons/check-symbol.svg") no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.form__checkbox[type="checkbox"]:checked + .form__checkbox-fake::before {
  opacity: 1;
}

.form__participation-title {
  text-align: center;
  margin-top: 45px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
}

.form__participation-value {
  margin-top: 5px;
  display: block;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
}

.payment-history {
  font-family: Roboto;
  font-size: 14px;
  padding: 20px 0;
}


.btn-app {
  text-decoration: none !important;
  font-family: Roboto;
  position: relative;
  margin: 4px;
  padding: 8px 10px;
  border: 0;
  outline: none;
  display: block;
  background-color: #B91F2F;
  text-align: center;
  font-size: 14px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border-radius: 0;
  white-space: normal;
  clear: both;
}

.btn-form {
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  padding: 18px 0;
  border: 0;
  outline: none;
  display: block;
  max-width: 100%;
  width: 250px;
  /* height: 60px; */
  background-color: #B91F2F;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border-radius: 0;
}


.btn-form img {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
}
.btn-form:hover {
  background-color: #a81928;
  color: #fff;
}
.btn-loading span {
  opacity: 0;
}
.btn-loading img {
  display: inline-block;
}


.error-block {
  text-align: center;
  font-family: Roboto;
  margin: 20px -35px;
  border-radius: 0;
}

/*   EVENT PROGRAM    */
.event-program__table {
  margin: 0 auto;
}

.event-program__table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 18px;
  padding-bottom: 12px;
}

.event-program__table-row:not(:last-child) {
  border-bottom: 1px solid #808080;
}

.event-program__table-row:nth-child(1) .event-program__action {
  margin-left: 40px;
}

.event-program__title {
  margin-top: 85px;
  margin-bottom: 40px;
}

.event-program__time {
  font-size: 30px;
  line-height: 30px;
}

.event-program__action {
  margin-left: 30px;
  max-width: 245px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 21px;
}

/*   EVENT PLACE    */
.event-place__title {
  margin-top: 120px;
  margin-bottom: 20px;
}

.event-place p {
  margin: 0 auto;
  max-width: 787px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 21px;
}

.event-place__img {
  text-align: center;
  margin-top: 27px;
}

/*   FOOTER    */
.footer {
  padding-bottom: 90px;
}

.footer .info-list {
  margin-top: 40px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer .info-list * {
  color: #4B4B4B;
  font-family: Roboto !important;
  font-size: 14px;
}
.footer .doc-list {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer .doc-list * {
  font-family: Roboto !important;
  font-size: 14px;
}
.footer .doc-list a {
  color: #B91F2F;
  display: block;
  margin: 0 20px;
  padding: 5px 0;
}

.footer__img {
  display: block;
  text-align: center;
}

.partners-list {
  padding-top: 20px;
  padding-bottom: 20px;
}
.partners-item {
  display: block;
  padding:  10px 20px;
}
.partners-item img {
  margin: 0 auto;
  display: block;
  width: auto;
  max-width: 100%;
  height: 100%;
  max-height: auto;
}
.footer__title {
  margin-top: 130px;
  margin-bottom: 25px;
}


.error-404 {
  padding-top: 100px;
}
.error-404 * {
  font-family: Roboto !important;
}

/*   MEDIA QUARIES    */
@media screen and (min-width: 600px) {
  .error-block {
    margin: 20px -35px;
  }
  .cover-filter {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#0A0B0D));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0A0B0D 100%);
  }
  .section-promo .header__logo {
    padding-top: 170px;
  }
  .header__hamburger-toggle {
    display: none;
  }
  .header__list-wrap {
    height: 83px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(5, 5, 5, 0.8);
    z-index: 90;
  }
  .header__menu-list {
    margin: 0 auto;
    max-width: 1200px;
    height: 83px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__menu-list li {
    font-size: 20px;
    line-height: 24px;
  }
  .header__menu-list li a {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
  }
  .header__menu-list li a:hover, .header__menu-list li a:active, .header__menu-list li a:focus {
    color: #B91F2F;
  }
  .header__menu-slide {
    display: none;
  }
  .header__sticky-bar {
    max-width: 100%;
    width: 100%;
    height: 103px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(5, 5, 5, 0.8);
    z-index: 90;
  }
  .sticky-bar__social {
    width: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sticky-bar__phone-number {
    display: block;
    font-size: 36px;
    line-height: 36px;
    color: #B91F2F;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
  }
  .sticky-bar__phone-number:hover, .sticky-bar__phone-number:focus {
    color: #fff;
  }
  .sticky-bar__phone-desc {
    font-size: 14px;
    line-height: 16px;
    color: #4B4B4B;
  }
  .about-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__photo {
    margin-top: 0 !important;
  }
  .form__label {
    margin-left: 20px;
  }
  .form__label span {
    max-width: 460px;
  }
  .event-program__table {
    width: 500px;
  }
  .event-program__action {
    max-width: 680px;
  }
  .footer {
    padding-bottom: 120px;
  }
  .footer .doc-list a {
    display: inline-block;
  }
}

@media screen and (min-width: 700px) {
  .section-fond {
    margin-top: 10px;
    padding: 300px 0;
  }
  .section-fond .fond {  
    padding: 30px 0 60px 0;
  }
  .section-fond .fond .amount {
    font-size: 120px;
  }
  .section-fond .fond .total {
    font-size: 36px;
  }
  .section-fond .details {
    font-size: 24px;
  }
  .section-fond .details p {
    line-height: 30px
  }

  .header__menu-list li {
    font-size: 24px;
  }
  .sticky-bar__fund-logo {
    margin-left: 35px;
  }
  .sticky-bar-phone {
    margin-right: 35px;
  }
  .sticky-bar__social {
    margin-left: -100px;
  }
  .payment-history {
    padding: 20px;
  }

  .partners-list {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .partners-item {
    text-align: center;
    padding:  10px 20px;
    height: 90px;
  }
}

@media screen and (min-width: 992px) {
  .btn-app {
    display: inline-block;
    width: 60%;
  }
  .error-block {
    margin: 20px -45px;
  }
  
  .section-promo .header__logo {
    padding-top: 190px;
    max-width: 383px;
    height: auto;
  }
  .section-promo .header__title {
    padding-top: 25px;
  }
  .section-promo .header__desc {
    padding-top: 30px;
  }
  .about__title {
    margin-top: 170px;
  }
  .about p {
    margin-top: 25px;
  }
  .registration__title {
    margin-top: 104px;
    margin-bottom: 30px;
  }
  .registration p:not(:first-child) {
    margin-top: 20px;
  }
  .form {
    padding-top: 42px;
    padding-bottom: 25px;
    padding-left: 47px;
    padding-right: 47px;
  }
  .form__title {
    margin-bottom: 13px;
    font-size: 24px;
    line-height: 24px;
  }
  .form__title:not(:first-child) {
    margin-top: 45px;
  }
  .form__title-warning {
    max-width: 530px;
  }
  .form-couple {
    display: block;
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex; */
    /* -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; */
  }
  .form__input {
    max-width: 470px;
    height: 30px;
  }
  .form__input-desc {
    padding-top: 2px;
    text-align: right;
    font-family: 'Bebas Neue';
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
  }
  .event-program__table {
    width: 788px;
  }
  .event-program__table-row:nth-child(1) .event-program__action {
    margin-left: 50px;
  }
  .event-program__action {
    margin-left: 50px;
    max-width: 680px;
  }
  .event-place__title {
    margin-top: 140px;
  }
  .footer__title {
    margin-top: 150px;
  }
}

@media screen and (min-width: 1500px) {
  .section-promo  .header__logo {
    padding-top: 290px;
    max-width: 527px;
  }
  .section-promo  .header__title {
    padding-top: 90px;
    font-size: 42px;
    line-height: 42px;
  }
  .about__title {
    margin-top: 215px;
  }
}

@media screen and (min-width: 2500px) {
  .section-promo  .header__logo {
    padding-top: 465px;
    max-width: 593px;
  }
  .section-promo  .header__title {
    padding-top: 210px;
  }
}
/*# sourceMappingURL=style.css.map */