body {
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text-bold {font-weight: bold;}
.btn-link {cursor: pointer;}
header {
  background-color: #333;
  border-bottom: 1px solid #555;
  margin: 0 0 10px 0;
}
header nav {border-left: 1px solid #555;}
header nav a {
  color: #fff;
  display: inline-block;
  font-weight: bold;
  border-right: 1px solid #555;
  padding: 10px 15px;
}
header nav a:hover {
  color: #fff;
  text-decoration: underline;
}
.modal .panel {margin-bottom: 0 !important;}

.btn:disabled {
  color: rgba(0, 0, 0, 0);
  background-image: url('../img/ajax-loader2.svg');
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center center;
}